.global-header, .global-footer{
    background: #34bf49;
    padding: 20px 0px;
}

.center{
    text-align: center;
}

.main-content{
    padding: 20px 0px;
}

.caption{
    padding: 40px 0px;
}

.global-menu{
    float: right;
    li{
        display: inline;
        list-style: none;
        a{
            color: #000;
            font-size: 12px;
            padding: 0px 20px;
        }
    }
}
